h1 {
    font-size: 28px;
    margin:center;
    background-color: blue;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%''
}


p {
    margin: 
}


h2 {
    font-size: 28px;
    margin:center;
    background-color: blue;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 
}
